@page "/"
@using Markdig;
@inject HttpClient Http;

<div class="markdown">
    @((MarkupString) Markdown.ToHtml(Documentation))
</div>

@code{
    private string Documentation {get;set;} = "*Loading...*";
    protected override async Task OnInitializedAsync()
    {
        Documentation = await Http.GetStringAsync("https://raw.githubusercontent.com/tzuehlke/MonopolyMoneyManager/main/README.md");
    }
}