@page "/monopoly"
@page "/monopoly/{config}"
@inject BusinessObjects.CurrentGamers currentGamers


<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="form-floating">
        <input type="number" pattern="\d*" class="form-control currency" id="moneyToMove" placeholder="Money to be transfered" @bind=transferController.TransferAmountNullable @bind:event="oninput">
        <label for="moneyToMove">Money to be transfered</label>
      </div>
    </div>
    <div class="col">
      <button class="btn btn-primary" @onclick="transferController.Transfer" Disabled=@transferController.TransferDisabled>Transfer</button>
    </div>
  </div>
  <div class="row">
    <div class="@transferController.Status text-white">@transferController.Msg</div>
  </div>
  <div class="row">
    @foreach (var gc in GamerControllers)
    {
        <div class="col m-2">
          <div class="row">
            <div class="form-floating nopadding">
              <input class="form-control" type="text" id="name@(gc.Gamer.Id)" value=@gc.Gamer.Name readonly>
              <label for="name@(gc.Gamer.Id)">Gamer</label>
            </div>
          </div>
          <div class="row">
            <div class="form-floating nopadding">
              <input class="form-control currency" type="text" id="balance@(gc.Gamer.Id)" value=@gc.Gamer.Balance readonly>
              <label for="balance@(gc.Gamer.Id)">Balance</label>
            </div>
          </div>
          <div class="row">  
            <div class="form-check form-switch form-switch mx-3">
              <input type="checkbox" class="form-check-input" name="switch-sender" style="transform: scale(1.4);" role="switch" id="btn-sender@(gc.Gamer.Id)" @bind=gc.IsSender autocomplete="off">
              <label class="form-check-label mx-3 text-danger" for="btn-sender@(gc.Gamer.Id)">Sender</label>
            </div>
          </div>
          <div class="row">
              <div class="form-check form-switch form-switch mx-3">
              <input type="checkbox" class="form-check-input" name="switch-receiver" style="transform: scale(1.4);" role="switch" id="btn-receiver@(gc.Gamer.Id)" @bind=gc.IsReceiver autocomplete="off">
              <label class="form-check-label mx-3 text-success" for="btn-receiver@(gc.Gamer.Id)">Receiver</label>
            </div>
          </div>
        </div>
    }
  </div>
</div>
<div>
  <DirectLink @ref="directLink" ShowButton=false Infotext="Direct Link to this page and state:" />
</div>

@code{
    [Parameter]
    public string config { get; set; }
    private DirectLink directLink;
}